<div class="card mt-3">
    <div class="card-header">
      <div class="float-left">
        <h4>Cursos</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="['/add-user']">Novo Curso</button>
        <button type="button" class="btn btn-secondary">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover" *ngIf="users$ | async as users">
        <thead>
          <tr>
            <th>id</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>CNPJ</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let user of users">
            <td> {{ user.id }} </td>
            <td> {{ user.name }} </td>
            <td> {{ user.cpf }} </td>
            <td> {{ user.cnpj }} </td>
            <td> {{ user.address }} </td>
            <td> {{ user.telephone }} </td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm">
                  Atualizar
                </button>
  
                <button class="btn btn-outline-danger mb-1 btn-sm">
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>