<div class="container">
    <span>Tabela de Usuários</span>
    <table border="1">
        <thead>
            <tr>
                <td>Nome</td>
                <td>CPF ou CNPJ</td>
                <td>Endereço</td>
                <td>Telefone</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Marcos</td>
                <td>113.697.169-66</td>
                <td>Estrada geral</td>
                <td>996003423</td>
            </tr>
            <tr>
                <td>Marcos</td>
                <td>113.697.169-66</td>
                <td>Estrada geral</td>
                <td>996003423</td>
            </tr>
            <tr>
                <td>Marcos</td>
                <td>113.697.169-66</td>
                <td>Estrada geral</td>
                <td>996003423</td>
            </tr>
        </tbody>
    </table>
</div>